<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>SysAdm</title>
</head>
    
<body>
    <!--MENU BOOTSTRAP-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img class="logotipo" src="./Image/Home/logo.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Views/proveedores.html">Proveedores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Views/clientes.html">Clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Compras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ventas</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Libros
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Compras</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Ventas</a></li>
                </ul>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>

      <main >
        <div class="container">
          <br>
          <h2>Proveedores</h2>
     
       
        <div id="app" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Código</th>
                        <th scope="col">Razón Social</th>
                        <th scope="col">Iva</th>
                        <th scope="col">Eliminar </th>
                        <th scope="col">Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="elemento of proveedores"   class="">
                        <td scope="row">{{elemento.id}}</td>
                        <td>{{elemento.codigo}}</td>
                        <td>{{elemento.razonsocial}}</td>
                        <td>{{elemento.iva}}</td>
                        
                        <td>
                            <button @click=eliminarProducto(elemento.id)>
                                <img src="./Image/App/delete.png" alt="">
                            </button>  
                        </td>
                        <td>
                            <a :href="'modificacionProducto.html?id=' + elemento.id" >
                                <img class= "boton"   src="./Image/App/edit.png" alt="">
                            </a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <a  class="boton"  href="altaProducto.html">
                <img  src="./imagenes/new-document.png" alt="">
            </a>
        </div>
        
        </div>
    
      </main>
      <footer>
        <!-- place footer here -->
      </footer>
      
      <!-- Bootstrap JavaScript Libraries -->
        <script src="./js/bootstrap.min.js"></script>
</body>
</html>